.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_button {
  font-size: 18px;
  color: #337ab7;
  text-decoration: none;
  border: 1px solid #337ab7;
  border-radius: 2px;
  padding: 6px 12px;
  margin: 5px 0;
  margin-right: 8px;
  background-color: #222;
}

.form_button:hover {
  cursor: pointer;
  color: #fff;
}

.form_list_wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.form_cards {
  border: 2px solid #797676;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form_cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.form_cards_avatar, .form_cards_name, .form_cards_surname, .form_cards_birth, .form_cards_country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_cards_avatar_text, .form_cards_name_text, .form_cards_surname_text, .form_cards_birth_text, .form_cards_country_text, .form_cards_avatar_bold {
  word-wrap: break-word;
  font-size: 20px;
  padding-bottom: 20px;
}

.form_cards_avatar, .form_cards_name, .form_cards_surname, .form_cards_birth {
  width: 100% ;
  border-bottom: 2px solid black;
}