.form_input_wrapper {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  gap: 50px;
  align-items: center;
}

.form_input_wrapper_checkbox {
  display: flex;
  flex-direction: column;
}

.form_label {
  font-size: 28px;
  display: block;
  margin-bottom: 2px;
  margin-top: 3px;
  color: #000;
}

.form_error {
  font-size: 18px;
  font-style: italic;
  color: #f00;
}

.form_input {
  width: 350px;
  height: 45px;
  font-size: 18px;
}

.form_checkbox {
  width: 20px;
  height: 20px;
}
