.about_wrapper {
  background: url("../../assets/img/633262.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_card {
  background-color: #EAFEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid blue;
}

.about_more {
  width: 200px;
  height: 50px;
  border: 2px solid #783FE8;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: #783FE8;
  color: #A5F279;
  font-size: 22px;
}

.about_more:hover {
  cursor: pointer;
  background-color: purple;
  transition: .7s;
}