.header_wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  background: url("../../assets/img/9786ec883756c755df35a331ff902f3b.png");
}

.link_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.link {
  color: white;
  text-decoration: none;
  transition: .5s;
  font-size: 24px;
  margin: 10px 0;
}

.link:hover {
  color: red;
}

.header_active {
  color: orange;
  border-bottom: 2px solid orangered;
  transition: .5s;
}

.position_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: .5s;
}

.position {
  font-size: 28px;
  color: #EBEC67;
}